{% extends "layout.html" %}
{% block content %}
    <div>
        <h1>Hello {{ user.name }}!</h1>
        <div>
            <h2>User information</h2>
            <p>Name: {{ user.name }}</p>
            <p>CPF: {{ user.cpf }}</p>
        </div>

        <h2>Request a Trip from city {{ form.city.name }}</h2>
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <div>
                <a>From</a> {{ form.from_where }}
                <a>To</a> {{ form.to_where }}
            </div>
            <div>
                <a>Car type: </a> {{ form.driver_ranks }}
                {{ form.big_trunk.label() }}
                {{ form.big_trunk }}
            </div>
            <div>
                <a>Payment method: </a> {{ form.payment_method }}
            </div>
            {{ form.submit() }}
        </form>
    </div>
{% endblock content %}