{% extends "layout.html" %}
{% block content %}
<div>
    <h2>Summary of trip {{ trip.trip_id }}</h2>
    <strong>Hour: </strong> {{ trip.datetime }}
    <strong>From: </strong> {{ trip.route.origin.name }}
    <strong>To: </strong> {{ trip.route.destiny.name }}
    <strong>Called by: </strong> {{ trip.passenger.name }}
    <strong>Driven by: </strong> {{ trip.driver.name }}
    <strong>Invoice: </strong> {{ trip.trip_cost() }}
</div>
<div>
    <h2>Rate {{ trip.driver.name }}</h2>
    <form method="post" action="">
        {{ form.stars }}
        {{ form.submit() }}
    </form>
</div>
{% endblock content %}