{% extends "layout.html" %}
{% block content %}
<div>
    <h2>Summary of trip {{ trip.trip_id }}</h2>
    <div><strong>Hour: </strong> {{ trip.datetime }}</div>
    <div><strong>From: </strong> {{ trip.route.origin.name }}</div>
    <div><strong>To: </strong> {{ trip.route.destiny.name }}</div>
    <div><strong>Called by: </strong> {{ trip.passenger.name }}</div>
    <div><strong>Driven by: </strong> {{ trip.driver.name }}</div>
    <div><strong>Invoice: </strong> G$ {{ trip.trip_cost() }}</div>
</div>
<div>
    <h2>Rate {{ trip.driver.name }}</h2>
    <form method="post" action="">
        {{ form.stars }}
        {{ form.submit() }}
    </form>
</div>
{% endblock content %}