{% extends "layout.html" %}
{% block content %}
    <div>
        <h2>Registering new user</h2>
        <form method="post" action="">
            {{ form.hidden_tag() }}
            <div>
                {{ form.username.label() }}
                {{ form.username() }}
            </div>
            <div>
                {{ form.cpf.label() }}
                {{ form.cpf() }}
            </div>
            <div>
                {{ form.submit() }}
            </div>
        </form>
    </div>
{% endblock content %}